<div class="ui-g ui-sm ui-md">
  <div class="ui-g-12  ui-sm-12  ui-md-12 ui-xl">
    <div class="ui-g-7 ui-sm-7 ui-md-7">


      <div class="ui-g  ui-sm ui-md">
        <div class="ui-g-12  ui-sm-12 ui-md-12">
          <div class="ui-grid-row">
            <div class="ui-g-12  ui-sm-12 ui-md-12 ui-md-12">
              Please provide us with feedback with your experience ,your rate and/or leave comments
              <br> this is to help us provide you with a better service
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-g-2 ui-sm-2 ui-md-2">First name *</div>
            <div class="ui-g-1 ui-sm-1 ui-md-1"></div>
            <div class="ui-g-2 ui-sm-2 ui-md-2">Last name *</div>
          </div>
          <div class="ui-grid-row">
            <input class="ui-g-2 ui-sm-2 ui-md-2" type="text" pInputText name="firstName" maxlength="20" />
            <div class="ui-g-1 ui-sm-1 ui-md-1"></div>
            <input class="ui-g-2 ui-sm-2 ui-md-2" type="text" pInputText name="lastName" maxlength="20" />
          </div>
          <div class="ui-grid-row">
            <div class="ui-g-2 ui-sm-2 ui-md-2">Middle name</div>
          </div>
          <div class="ui-grid-row">
            <input class="ui-g-2 ui-sm-2 ui-md-2" type="text" pInputText name="middleName" maxlength="20" />
          </div>
          <div class="ui-grid-row">
            <div class="ui-g-2 ui-sm-2 ui-md-2">UMN *</div>
            <div class="ui-g-1 ui-sm-1 ui-md-1"></div>
            <div class="ui-g-2 ui-sm-2 ui-md-2">Phone number *</div>
          </div>
          <div class="ui-grid-row">
            <input class="ui-g-2 ui-sm-2 ui-md-2" type="text" pInputText name="umn" maxlength="15" />
            <div class="ui-g-1 ui-sm-1 ui-md-1"></div>
            <input class="ui-g-2 ui-sm-2 ui-md-2" type="text" pInputText name="phoneNumber" maxlength="10" />
          </div>
          <div class="ui-grid-row">
            <br> Service experience *
          </div>
          <div class="ui-grid-row">
            <div class="ui-g-12  ui-sm-12  ui-md-12">
              <p-radioButton name="quickFeedBackGrade" value="1" label="Very poor"></p-radioButton>
              <p-radioButton name="quickFeedBackGrade" value="2" label="Poor"></p-radioButton>
              <p-radioButton name="quickFeedBackGrade" value="3" label="Good"></p-radioButton>
              <p-radioButton name="quickFeedBackGrade" value="4" label="Very good"></p-radioButton>
              <p-radioButton name="quickFeedBackGrade" value="5" label="Excellent"></p-radioButton>

            </div>
            <div class="ui-g-3 ui-sm-3 ui-md-3">
              Comments
              <textarea rows="5" cols="60" pInputTextarea autoResize="autoResize" name="comments"></textarea>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>
