<p-growl [value]="msgs"> </p-growl>
<div class="ui-g ui-sm ui-md ui-xl">
  <!-- <div class="ui-g-12  ui-sm-12  ui-md-12"> -->
  <!-- <div class="ui-g-5 ui-sm-5" >
      <app-logo></app-logo>
    </div> -->
  <!-- <div class="ui-g-7 ui-sm-7 ui-md-7 ui-xl-7">
    <app-smalllogo></app-smalllogo>
    <p-confirmDialog></p-confirmDialog> -->

    <!-- <div class="ui-g-1"></div> -->

    <form class="quickFeedback" [formGroup]="form" (ngSubmit)=saveSurvey(form.value)>
      <div class="ui-g  ui-sm ui-md ui-xl" *ngIf="displayQuickFeedback">
        <!-- <div class="ui-g-12  ui-sm-12 ui-md-12"> -->
        <!-- <div class="ui-grid-row"> -->
        <div class="ui-g-12  ui-sm-12 ui-md-12 ui-md-12">
          Please provide us with feedback with your experience ,your rate and/or leave comments
          <br> this is to help us provide you with a better service
        </div>
        <!-- </div> -->

        <div class="ui-g-4 ui-sm-5 ui-md-5 ui-xl-4">First name *</div>
        <div class="ui-g-1 ui-sm-1 ui-md-1 ui-xl-1"></div>
        <div class="ui-g-4 ui-sm-5 ui-md-5 ui-xl-4">Last name *</div>
        <div class="ui-g-3 ui-sm-1 ui-md-1 ui-xl-3"></div>

        <input class="ui-g-4 ui-sm-5 ui-md-5 ui-xl-4" type="text" pInputText name="firstName" formControlName="firstName" maxlength="20"
        />
        <div class="ui-g-1 ui-sm-1 ui-md-1 ui-xl-1"></div>
        <input class="ui-g-4 ui-sm-5 ui-md-5 ui-xl-4" type="text" pInputText name="lastName" formControlName="lastName" maxlength="20"
        />
        <div class="ui-g-3 ui-sm-1 ui-md-1 ui-xl-3"></div>

        <!-- <div class="ui-grid-row"> -->
        <div class="ui-g-4 ui-sm-5 ui-md-5 ui-xl-4">Middle name</div>
        <div class="ui-g-8 ui-sm-7 ui-md-7 ui-xl-8"></div>
        <!-- </div> -->
        <!-- <div class="ui-grid-row"> -->
        <input class="ui-g-4 ui-sm-5 ui-md-5 ui-xl-4" type="text" pInputText name="middleName" formControlName="middleName" maxlength="20"
        />
        <div class="ui-g-8 ui-sm-7 ui-md-7 ui-xl-8"></div>
        <!-- </div> -->
        <!-- <div class="ui-grid-row"> -->
        <div class="ui-g-4 ui-sm-5 ui-md-5 ui-xl-4">UMN *</div>
        <div class="ui-g-1 ui-sm-1 ui-md-1 ui-xl-1"></div>
        <div class="ui-g-4 ui-sm-5 ui-md-5 ui-xl-4">Phone number *</div>
        <div class="ui-g-3 ui-sm-1 ui-md-1 ui-xl-3"></div>
        <!-- </div> -->
        <!-- <div class="ui-grid-row"> -->
        <input class="ui-g-4 ui-sm-5 ui-md-5 ui-xl-4" type="text" pInputText name="umn" formControlName="umn" maxlength="15" />
        <div class="ui-g-1 ui-sm-1 ui-md-1 ui-xl-1"></div>
        <input class="ui-g-4 ui-sm-5 ui-md-5 ui-xl-4" type="text" pInputText name="phoneNumber" formControlName="phoneNumber" required
          [pattern]="phonePattern" maxlength="10" />
        <div class="ui-g-3 ui-sm-1 ui-md-1 ui-xl-3"></div>
        <!-- </div> -->

        <div class="ui-g ui-sm ui-md ui-xl">
          <div class="ui-grid-row">
          <div>
            Service experience *
          </div>
        </div>
        </div>
        <!-- </div> -->
        <!-- <div class ="ui-g">
                  <div class="ui-g-2  ui-sm-12  ui-md-12">
                <p-radioButton name="quickFeedBackGrade" value="1" label="Very poor" formControlName="grade"></p-radioButton>
              </div>
                <div class="ui-g-2  ui-sm-12  ui-md-12">
                <p-radioButton name="quickFeedBackGrade" value="2" label="Poor" formControlName="grade"></p-radioButton>
              </div>
                <div class="ui-g-2  ui-sm-12  ui-md-12">
                <p-radioButton name="quickFeedBackGrade" value="3" label="Good" formControlName="grade"></p-radioButton>
              </div>
                <div class="ui-g-2  ui-sm-12  ui-md-12">
                <p-radioButton name="quickFeedBackGrade" value="4" label="Very good" formControlName="grade"></p-radioButton>
              </div>
                <div class="ui-g-2  ui-sm-12  ui-md-12">
                <p-radioButton name="quickFeedBackGrade" value="5" label="Excellent" formControlName="grade"></p-radioButton>
              </div>
            </div> -->

        <div class="ui-g ui-sm ui-md ui-xl">
          <div class="ui-g-2  ui-sm-12 ui-md-2 ui-xl-2">
            <p-radioButton name="quickFeedBackGrade" value="1" label="Very poor" formControlName="grade"></p-radioButton>
          </div>
          <div class="ui-g-2  ui-sm-12 ui-md-2 ui-xl-2">
            <p-radioButton name="quickFeedBackGrade" value="2" label="Poor" formControlName="grade"></p-radioButton>
          </div>
          <div class="ui-g-2  ui-sm-12 ui-md-2 ui-xl-2">
            <p-radioButton name="quickFeedBackGrade" value="3" label="Good" formControlName="grade"></p-radioButton>
          </div>
          <div class="ui-g-2  ui-sm-12 ui-md-2 ui-xl-2">
            <p-radioButton name="quickFeedBackGrade" value="4" label="Very good" formControlName="grade"></p-radioButton>
          </div>
          <div class="ui-g-2  ui-sm-12 ui-md-2 ui-xl-2">
            <p-radioButton name="quickFeedBackGrade" value="5" label="Excellent" formControlName="grade"></p-radioButton>
          </div>
          <div class="ui-g-2  ui-sm-12 ui-md-2 ui-xl-2 "></div>
        </div>

        <!-- <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['grade'].valid&& form.controls['grade'].dirty">
          <span *ngIf="form.controls['grade'].errors['required']">Service experience is required</span> -->
        <div class="ui-g ui-sm ui-md ui-xl">
          <div class="ui-g-12  ui-sm-12 ui-md-12 ui-xl-12 ">
            Comments
          </div>
          <div class="ui-g-12  ui-sm-12 ui-md-12 ui-xl-12 ">
            <textarea rows="5" cols="50" pInputTextarea autoResize="autoResize" name="comments" formControlName="comments"></textarea>
          </div>
        </div>


        <div class="ui-g ui-sm ui-md ui-xl">
            <div class="ui-g-12  ui-sm-12 ui-md-12 ui-xl-12 ">
            <p-button type="submit" label="SUBMIT" [disabled]="!form.valid"></p-button>
          </div>
        </div>

        <!-- <div class="ui-grid-row">
          <div class="ui-g-7 ui-sm-7 ui-md-7">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['umn'].valid&& form.controls['umn'].dirty">
              <i class="fa fa-close"></i>
              <span *ngIf="form.controls['umn'].errors['required']">UMN is required</span>
              <span *ngIf="form.controls['umn'].errors['minlength']">UMN must be at list 8 digits</span>
              <span *ngIf="form.controls['umn'].errors['pattern']">UMN can hold only numbers</span>
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-g-7 ui-sm-7 ui-md-7">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['phoneNumber'].valid && form.controls['phoneNumber'].dirty">
              <i class="fa fa-close"></i>
              <span *ngIf="form.controls['phoneNumber'].errors['required']">phone number is required</span>
              <span *ngIf="form.controls['phoneNumber'].errors['pattern']">phone number must be 10 digits and start with zero</span>
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-g-7 ui-sm-7 ui-md-7">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['firstName'].valid&& form.controls['firstName'].dirty">
              <i class="fa fa-close"></i>
              <span *ngIf="form.controls['firstName'].errors['required']">First name is required</span>
              <span *ngIf="form.controls['firstName'].errors['minlength']">First name must be at least 2 characters</span>
            </div>
          </div>
        </div> -->
        <!-- <div class="ui-grid-row">
          <div class="ui-g-7 ui-sm-7 ui-md-7">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['lastName'].valid && form.controls['lastName'].dirty">
              <i class="fa fa-close"></i>
              <span *ngIf="form.controls['lastName'].errors['required']">Last name is required</span>
              <span *ngIf="form.controls['lastName'].errors['minlength']">Last name must be at least 2 characters</span>
            </div>
          </div>
        </div> -->
        <!-- </div> -->
      </div>
    </form>
    <app-detailed-feedback [datailedFeedbackDisplay]="displayDetailedFeedbackInd" [surveyAnswer]="survey"></app-detailed-feedback>
  <!-- </div> -->
  <!-- </div> -->
</div>

<p-dialog header="Confirmation" [(visible)]="displayConfirmationWindow" [modal]="true" [responsive]="true" [width]="350"
  [minWidth]="200" [minY]="70" [baseZIndex]="10000">
  <span>thank you for you feedback</span>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayConfirmationWindow=false" label="OK"></button>

  </p-footer>
</p-dialog>

<!-- <app-detailed-feedback [datailedFeedbackDisplay]="displayDetailedFeedbackInd" [surveyAnswer]="survey"></app-detailed-feedback> -->
